
.current_chat_container {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.chat_right_sidebar {
    width: 25%;
    transition: all 0.3s ease;
}


.chat_sidebar_profile_image {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .chat_right_sidebar {
        margin-right: -25%;
    }
}
