
.chat_link {
    text-decoration: none;
    color: black;
}

.chat_link.active {
    background-color: white;
}

.chat_avatar {
    --avatar-size: 3rem;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: gold;
    margin: 0.3rem 0.2rem;
    display: grid;
    place-content: center;
}

.chat_avatar_text {
    /*padding-bottom: 0.2rem;*/
}

.chat_user_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
}

.chat_user {
    height: fit-content;
}
