
.context_menu_container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    border: 1px solid #bac8db;
}

.context_menu_item {
    color: #666666;
    background-color: white;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
}

.context_menu_item:hover {
    cursor: pointer;
    background-color: #e1e9f5;
}
