.message_list_wrapper {
    /*background-color: var(--message-bg);*/
    flex-grow: 1;
    position: relative;
}

.message_list {
    width: 100%;
    min-height: min-content;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
}

/* SCROLLBAR */

.message_list::-webkit-scrollbar {
    opacity: 0;
    width: 0.5rem;
}

.message_list:hover {
    cursor: pointer;
}

.message_list:hover::-webkit-scrollbar {
    cursor: pointer;
}

/* Track */
.message_list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.message_list::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: #d1d1d1;
}

/* Handle on hover */
.message_list::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5;
}

.message_list:hover::-webkit-scrollbar-thumb {
    background: #b5b5b5;
}


.msg-loading {
    height: 100%;
    justify-content: space-around;
}

/* MESSAGE ITEM */

.message_list_item {
    display: flex;
    position: relative;
}

.message_list_item:last-child {
    margin-bottom: 2rem;
}

.message_item {
    min-width: 3rem;
    max-width: 70%;
    margin: 0.2rem 1rem;
    padding: 0.7rem;
    background-color: #e1e9f5;
    border-radius: 0.5rem 0.5rem 0.5rem 0.1rem;
    min-height: 1.5rem;
}

.self {
    justify-content: flex-end;
}

.self .message_item {
    color: white;
    background-color: var(--blue-darker);
    border-radius: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.self .message_info {
    color: white;
}

.message_text {
    overflow-wrap: break-word;
    text-align: left;
    float: left;
    font-size: 0.9rem;
}

.message_img {
    max-width: 15rem;
}

.message_info {
    float: right;
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0.5rem 0 0 0.5rem;
}

.message_timestamp {
    padding-left: 0.5rem;
}

.clearfix {
    clear: both;
}
