/* INPUT FORM */
.main_chat_input_container {
    justify-self: flex-end;
    width: 100%;
    height: var(--chat_bar_height);
    background-color: var(--white);
    border: var(--border);
    border-bottom: none;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
}

.main_chat_input_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input_icon_container {
    height: var(--chat_bar_height);
    width: var(--chat_bar_height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_icon_container:hover {
    cursor: pointer;
}

.main_chat_input {
    height: 1.8em;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    flex: 2 1 auto;
}

.main_chat_input:focus {
    outline: none;
}


/* ICONS */
.input_icon_container {
    height: var(--chat_bar_height);
    width: var(--chat_bar_height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_icon_container:hover {
    cursor: pointer;
}

.main_chat_send_button {
    color: var(--white);
    border: none;
    outline: none;
    background-color: transparent;
}

.main_chat_send_button:hover {
    cursor: pointer;
}

.main_chat_send_icon {
    color: var(--blue);
    background-color: var(--white);
    transform: scale(1.5);
}

.main_chat_icon {
    transform: scale(1.5);
    color: var(--gray);
}

.main_chat_icon_top {
    transform: scale(1.1);
    color: var(--gray);
}

.add_media {
    transform: rotate(180deg) scale(1.5);
}
