.match_sidebar {
    --sidebar-width: 20rem;
    width: var(--sidebar-width);
}

.sidebar_left {
    transition: all 0.3s ease;
}

.user_label:hover {
    cursor: pointer;
}

.view_option_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: white;
}

.view_option {
    font-size: 1.1rem;
    padding: 0.4rem 0;
}

/* Main section */

.matches_slider {
    overflow: hidden;
}

.matches_container {
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 0.2s ease-in-out;
}

.matches_container.messages {
    margin-left: -100%;
}


/* Sliding border */
.selected_bottom_border {
    height: 0.3rem;
    background-color: #2f83d4;
    width: 46%;
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    border: none;
    transition: all 0.2s ease-in-out;
}

.selected_bottom_border.matches {
    margin-left: 2%;
}

.selected_bottom_border.messages {
    margin-left: 52%;
}

@media screen and (max-width: 868px) {
    .sidebar_left {
        margin-left: -20rem;
    }
}
