.matches_item {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 0.8rem;
}

.matches_item:hover {
    cursor: pointer;
}

.matches_item.active {
    background-color: white;
}
