.profile_page_container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile_top_bar {
    background-color: #e6e6e6;
    border-bottom: #525252;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}


.profile_avatar {
    --avatar-size: 4rem;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: gold;
    display: grid;
    place-content: center;
    margin-right: 0.5rem;
}

.profile_avatar_image {
    --avatar-size: 4rem;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    border: 0.1rem solid #5c5c5c;
}

.profile_username {
    margin: 0 0.5rem;
}

.profile_tapes_container {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

.profile_tapes_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
}

.profile_tape_container {
    background-color: #e1e9f5;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

