
.close_button {
    border-radius: 50%;
    color: #b5b5b5;
    border: 0.2rem solid #b5b5b5;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-content: center;
    transition: all 0.3s ease;
}

.close_button_icon {
}

.close_button:hover {
    cursor: pointer;
    color: #5c5c5c;
    border: 0.2rem solid  #5c5c5c;
    transform: rotate(-90deg);
}
