
.likes_page_container {
    flex-grow: 1;
    position: relative;
}

.likes_scroll_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.likes_list {
    margin: 3rem auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
}

.like_card {
    background-color: gray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 14rem;
    padding: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.like_user_pic {
    flex-grow: 1;
    margin-bottom: 1rem;
}

.like_user_link {
    color: white;
}

.received_like_controls {
}

@media screen and (max-width: 1100px) {
    .likes_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .like_card {
        width: 15rem;
    }
}

@media screen and (max-width: 868px) {
    .like_card {
        width: 18rem;
    }
}
