
* {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    /* App */
    --light-blue-gray: #e1e9f5;
    --blue-gray: #bac8db;
    --white: #fff;
    --blue: #52abff;
    --blue-darker: #2f83d4;
    --chat_bar_height: 3.3rem;
    --transition: all 0.2s ease;;
    /* Messages */
    --message-bg: var(--light-blue-gray);
    --green-light: #f0ffe3;
    --green-deep: #85c940;
    /* Chat List */
    --blue-light: #d9ecff;
    --gray-super-light: #f0f0f0;
    --gray: #b5b3b0;
    --yellow: #ff9500;
    --green: #66ff63;
    --border: 0.05em solid var(--light-blue-gray);
    /* Modals */
    --gray-dark: #525252;
    --black: #000;
}

body {
    font-size: 20px;
    min-height: 100vh;
    font-family: Roboto, sans-serif
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App {
    text-align: center;
}

.blank_button {
    background-color: transparent;
    outline: none;
    border: none;
}
