
.tape_form_file_label:hover {
    cursor: pointer;
}

.tape_video_preview {
    display: grid;
    place-content: center;
}

.tape_form_video_wrapper {
    background-color: #e1e9f5;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.tape_form_video {
    width: 16rem;
}

.tape_form_video_close {
    margin-left: 0.5rem;
}
