
.tape_position_container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.tape_position_container.right {
    left: 200%;
}

.tape_position_container.left {
    left: -200%;
}


.tape_container {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    color: white;
    position: relative;
    overflow: hidden;
}

.tape_shadow_container {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 3rem 2rem rgba(0, 0, 0, 1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* VIDEO */
.tape_video_container {
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    z-index: 0;
}

.tape_video {
    width: 100%;
}


/* MAIN */
.tape_main {
    z-index: 2;
}

.tape_info {
    padding: 0.8rem 0.8rem 0 0.8rem;
}

.tape_description {
    font-size: 0.8rem;
}

/* CONTROLS */

.tape_controls {
    display: flex;
    justify-content: center;
    --controls-height: 3rem;
    padding: 0.5rem 0 1rem 0;
}

.icon_button {
    display: grid;
    place-content: center;
    height: var(--controls-height);
    width: var(--controls-height);
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
}

.icon_button.red {
    border: 0.2rem solid red;
}

.icon_button.green {
    border: 0.2rem solid palegreen;
}

.icon_button:hover {
    cursor: pointer;
}

.tape_control_icon {
    transition: all 0.2s ease;
}

.icon_button.red .tape_control_icon {
    color: red;
}

.icon_button.green .tape_control_icon {
    color: palegreen;
}

.icon_button:hover .tape_control_icon {
    transform: scale(1.2);
}


